*{
    padding: 0;
    margin: 0;
}

#parent-box{
    height: 200px;
    width: 200px;
    background-color:  rgba(255, 0, 0, 0.365);
}

#child-box{
    height: 50%;
    width: 50%;
    background-color: rgba(65, 105, 225, 0.851);
}

