*{
    padding: 0;
    margin: 0;
    background-color: slategrey;
}

:root{
    font-size: 10px;
}

#centimeters{
    width: 5cm;
    margin: 10px 0;
    font-size: 30px;
    background-color:  rgba(255, 0, 0, 0.9);
}

#inches{
    width: 5in;
    margin: 10px 0;
    font-size: 3em;
    background-color: rgba(65, 105, 225, 0.979);
}


#milimeters{
    width: 5mm;
    font-size: 2em;
    background-color: rgba(158, 235, 16, 0.452);
}

